{{!-- Post List Section --}}

<section class="nightdriver-section nightdriver-section--surface">
    <div class="nightdriver-container">
        <div class="nightdriver-section-header nightdriver-section-text{{#match layout "Double"}} nightdriver-section-text--full{{else}} nightdriver-section-header--narrow{{/match}}">
            <h2 class="nightdriver-section-title">
                {{#if title}}
                    {{title}}
                {{else}}
                    {{total}} {{plural total empty='Posts' singular='Post' plural='Posts'}}
                {{/if}}
            </h2>
        </div>

        <div class="nightdriver-section-content nightdriver-section-text{{#match layout "Double"}} nightdriver-section-text--full{{/match}}">
            {{> "content/post-list-items" posts=posts heading=heading show_tags=show_tags layout=layout exclude_note=exclude_note exclude_special=exclude_special}}

            {{#if show_pagination}}
                {{pagination}}
            {{/if}}
        </div>
    </div>
</section>
